/* ===== Alap ===== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    width:100%;
    height:100vh;

    background:#ffffff;

    overflow:hidden;

    font-family:Arial, Helvetica, sans-serif;

}

/* ===== Jobb felső üres hely ===== */

.top-space{

    position:absolute;

    top:20px;

    right:20px;

    width:120px;

    height:45px;

}

/* ===== Jobb oldali piros sáv ===== */

.sidebar{

    position:fixed;

    top:0;

    right:160px;

    width:260px;

    height:100vh;

    background:#D40000;

    border-left:1px solid black;

    border-right:1px solid black;

    display:flex;

    flex-direction:column;

    align-items:center;

}

/* ===== Cím ===== */

.title{

    margin-top:60px;

    width:100%;

    text-align:center;

}

.title h1{

    color:white;

    font-size:42px;

    font-weight:bold;

    -webkit-text-stroke:2px black;

    margin:4px 0;

}

/* ===== Középső rész ===== */

.center{

    flex:1;

    display:flex;

    justify-content:center;

    align-items:center;

}

/* ===== Emlékezz gomb ===== */

#memoryButton{

    width:190px;

    height:70px;

    border:none;

    border-radius:12px;

    background:#FFD400;

    color:black;

    font-size:22px;

    font-weight:bold;

    cursor:pointer;

    transition:.25s;

}

#memoryButton:hover{

    transform:scale(1.05);

}

/* ===== Alsó rész ===== */

.bottom{

    margin-bottom:35px;

}

/* ===== Exit gomb ===== */

#exitButton{

    width:150px;

    height:55px;

    border:none;

    border-radius:12px;

    background:#00AA33;

    color:white;

    font-size:22px;

    font-weight:bold;

    cursor:pointer;

    transition:.25s;

}

#exitButton:hover{

    transform:scale(1.05);

}

/* ===== Mobil ===== */

@media(max-width:700px){

.sidebar{

    width:200px;

    right:15px;

}

.title h1{

    font-size:34px;

}

#memoryButton{

    width:160px;

    height:65px;

    font-size:18px;

}

#exitButton{

    width:130px;

    height:50px;

    font-size:18px;

}

.top-space{

    width:90px;

}

}
